* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */

}

a {
  text-decoration: none;
}

.logo {
  color: white;
  font-family: "Dancing Script", cursive;
}

.hero-section {
  width: 100%;
  height: 620px;
  background-image: url(3.png);
  background-position: center;
  background-size: cover;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}

.link {
  color: white;
  text-transform: uppercase;
}

.home {
  color: rgb(255, 190, 51);
}

.nav-links {
  display: flex;
  gap: 50px;
  font-size: 18px;
}
.link:hover{
  color:rgb(255, 190, 51) ;
}
.nav-icon{
    color: white;
    font-size: 20px;
    padding-right: 15px;
}
.nav-icon:hover{
  color:rgb(255, 190, 51) ;
}

.hero-button {
  padding: 10px;
  width: 180px;
  color: white;
  font-size: 17px;
  border: none;
  background-color: rgb(255, 190, 51);
  border-radius: 22px;
  margin-bottom: 10px;
}
.hero-button:hover{
  background-color: orange;
}
.hero-content {
  color: white;
  padding-top: 100px;
  padding-left: 100px;
  animation: move 4s ease infinite 2s;
}

@keyframes move {
  
  0% {
    transform: translate(400px);
    opacity: 0.6;
  }

  25% {
    transform: translate(0px);
    opacity: 1;
  }

  50% {
    transform: translate(0px);
    opacity: 1;
  }

  100% {
    transform: translate(-800px);
    opacity: 1;
  }

}

.hero-heading {
  font-weight: 900;
  font-size: 60px;
  font-family: "Dancing Script", cursive;
}

.hero-para {
  padding-top: 15px;
  padding-bottom: 20px;
  width: 540px;
  line-height: 22px;
}

.burger1 {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  transition: transform ease 0.1s;
}
.burger1:hover{
  transform: scale(1.1);
}
.cart-icon1{
  margin-left: 5px;
}
.order-section {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 45px;

}
.order-burger{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 5px solid rgb(255, 190, 51);
}
.order1 {
  width: 550px;
  height: 200px;
  display: flex;
  padding-top: 15px;
  padding-left: 15px;
  color: white;
  background-color: rgb(34, 40, 49);
}

.order-content {
  padding-top: 25px;
  padding-left: 25px;
}

.order-heading {
  font-size: 25px;
  font-family: "Dancing Script", cursive;
}

.order-para {
  font-size: 25px;
  font-family: "Dancing Script", cursive;
}

.menu-section {
  margin-top: 100px;
}

.menu-content {
  text-align: center;
}

.menu-heading {
  font-family: "Dancing Script", cursive;
  font-size: 45px;
  padding-bottom: 30px;
}

.links-block {
  display: flex;
  justify-content: center;
  gap: 45px;
  font-size: 20px;
}

.menu-links {
  color: black;
}

.menu-links:hover {
  color: white;
  background-color: black;
  padding: 5px;
  width: 70px;
  border-radius: 20px;
}

.section3 {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: rgb(34, 40, 49);
}

.about__image {
  width: 500px;
  height: 550px;
  padding-left: 100px;
}

.block5 {
  padding-left: 100px;
  padding-right: 25px;
}

.heading3 {
  font-family: "Dancing Script", cursive;
  font-size: 45px;
  color: white;
  margin-bottom: 5px;
}

.about1 {
  width: 600px;
  line-height: 23px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 19px;
  color: white;
}

.contact__section {
  display: flex;
  justify-content: center;
}

.contact__block {
  display: flex;
  justify-content: space-around;
}

.contact__heading {
  font-family: "Dancing Script", cursive;
  font-size: 45px;

}

.contact__form {
  padding-top: 60px;
  margin-left: 70px;
}

.iframe {
  width: 640px;
  height: 470px;
  padding-top: 150px;
  padding-right: 80px;
  border-radius: 5px 5px 5px 5px;
}

.text__box {
  padding: 15px;
  width: 550px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  border: 1px solid black;
}

.button1 {
  display: block;
  margin-top: 45px;
}

.food-block {
  width: 370px;
  height: 450px;
  padding-bottom: 10px;
  border-radius: 18px;
  margin-top: 50px;
  background-color: black;
}

.food-images {
  height: 180px;
  padding-top: 45px;
  transition: transform ease 0.1s;
}
.food-img:hover .food-images{
  transform: scale(1.1);
}

.food-img {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  background-color: rgb(241, 242, 243);
  border-bottom-left-radius: 45px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.food-content {
  height: 170px;
  background-color: black;
  color: white;
  padding-top: 15px;
  padding-left: 15px;
}

.food-heading {
  font-size: 17px;
}
.cart-icon{
  margin-left: 250px;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  background-color: rgb(255, 190, 51);
}
.food-section{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.button3{
  display: flex;
  justify-content: center;
}
.button2{
  margin-top: 50px;
}
.customer-block{
 display: flex;
 justify-content: center;
 gap: 25px;
}
.customer-para{
   background-color: rgb(34, 40, 49);
   color: white;
   border-radius: 7px;
   margin-top: 30px;
   width: 550px;
   height: 180px;
   padding-top: 15px;
   padding-left: 15px;
   padding-bottom: 15px;
}
.client-img{
  width: 130px;
  height: 130px;
  margin-top: 20px;
  border-radius: 50%;
  border: 5px solid rgb(255, 190, 51);
}
.customer-heading{
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 45px;
}
.footer-block{
   height:430px;
  background-color: rgb(34, 40, 49);
  color: white;
  display: flex;
  justify-content: center;
  gap: 130px;
  padding-top: 90px;
  margin-top: 50px;
}
.feane-block{
  width: 200px;
}
.feane-heading{
 text-align: center;
 font-family: "Dancing Script", cursive;
}
.feane-block1{
 width: 350px;
}
.feane{
  text-align: center;
  font-size: 17px;
}
.feane-para:hover{
  color: rgb(255, 190, 51);
}
.feane-icon{
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 50px ;
}
.icon1{
  height: 30px;
  width: 30px;
  font-size: 20px;
  padding-left: 5px;
  color: rgb(34, 40, 49);
  background-color: white;
  border-radius: 50%;
}
.icon1:hover{
  color: rgb(255, 190, 51);

}
